.roomPath {
  fill: #191919;
  stroke: #f6f6f8;
  stroke-width: 2px;
}

.roomPath.is-highlighted.available {
  fill: rgba(40, 167, 69, 0.36);
}

.roomPath.is-highlighted.closed {
  fill: #f3cb8d;
}

.roomPath.is-highlighted.taken {
  fill: #dd5969;
}

.roomPath.is-highlighted.noData,
.roomPath.is-highlighted.unknown {
  fill: #959595;
}

.roomPath.clicked.available {
  fill: rgba(40, 167, 69, 1);
}

.roomPath.clicked.closed {
  fill: #c2a251;
}

.roomPath.clicked.taken {
  fill: #ed2127;
}

.roomPath.clicked.noData,
.roomPath.clicked.unknown {
  fill: #5c5c5c;
}

.roomPath.dashedBorder {
  fill: #fff;

  transition: none;
}

.roomPath.dashedBorder.is-highlighted,
.roomPath.dashedRoom.is-highlighted {
  fill: #fff;
}

.roomPath.dashedBorder.clicked,
.roomPath.dashedRoom.clicked {
  fill: #9fc9eb;
}